<div class="main">
    <div class="con" >
       

            <div>
               
                <div  class="border bg_bl head"> <p class="code">{{code}}</p><div ><svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16"> <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/> </svg></div><br>
            </div><br><br>
            
               



            <div  class=" inp border bg_bl"><br></div><br><br>
            <div style="margin-top: -60px;font-size: 40px;"><button  class="btn border bg_bl" type="submit" >Next</button></div> 
</div>
</div>






